doctype html
html
    body
        script.
            window.opener.postMessage({
              type: 'oauth_login',
              user: {
                id: '#{_id}',
                token: '#{token}',
                name: '#{name}',
                photo: '#{photo}',
                role: '#{role}',
              }
            }, '*');

            window.close();

